[includeIf "gitdir:~/Personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/vaults/"]
    path = ~/.gitconfig-work
[core]
    excludesfile = /Users/eric/.gitignore_global
[alias]
	br = branch
	st = status
	sw = switch
	ad = add -A
	cm = commit -m
	lg = log --graph --decorate --oneline --all
	lb = branch -a --list
	reb = rebase
	dif = diff --name-status
	diffo = diff @{upstream}
	difo = diff @{upstream} --name-status
	stash = stash --all
	pruneremote = !echo "pruning remote" && git remote prune origin && :
	pullnoreb = pull origin --no-rebase
	newb = !git switch -c $1 && git push --set-upstream origin $1 && :
	db = !git branch -D $1 && git push origin --delete $1 && :
	pb = !git branch -D $1 && git remote prune origin && :
	prunelocal = !sh ~/.on_load/git-prune-local.sh
	cleanup = !git pruneremote && git prunelocal && :
[column]
	ui = auto
[branch]
	sort = -committerdate
[protocol]
	version = 2
