[includeIf "gitdir:~/Personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/vaults/"]
    path = ~/.gitconfig-work
[core]
    excludesfile = /Users/eric/.gitignore_global
[alias]
	br = branch
	st = status
	sw = switch
	ad = add
	add = add -A
	cm = commit -m
	lg = log --graph --decorate --oneline --all
	lb = branch -a --list
	reb = rebase
	dif = diff --name-status
	stash = stash --all
	pruneremote = remote prune origin
	pullnoreb = pull --no-rebase
[column]
	ui = auto
[branch]
	sort = -committerdate
[push]
	default = current
